<% @list.movies.each do |movie|%>
<div class="panel panel-default">
<div class="row list-item">
	<br />
	<div class="col-md-3">
		<img src="<%= movie.img_url %>" width=100%>   
	</div>
	<div class="col-md-9">
		<h3><strong><%= movie.title %></strong>, <%= movie.director %></h3><hr>
		<p><%= movie.description %></p>
		<% if @list.user_ids.include?(session[:user_id]) %>
			<%= button_to "Delete", movies_destroy_path(movie), method: :delete %>
		<% end %>
	</div>    
</div>
</div>  

<%end%>