<% @list.randos.each do |rando|%>
<div class="row list-item">
	<br />
	<div class="col-md-3">
		<img src="<%= rando.img_url %>" width=100%>   
	</div>
	<div class="col-md-9">
		<h3><a href="<%= rando.link_url %>"><strong><%= rando.title %></strong></a></h3><hr>
		<p><%= rando.description %></p>
		<% if @list.user_ids.include?(session[:user_id]) %>
		    <%= button_to "Delete", randos_destroy_path(rando), method: :delete %>
	    <% end %>
	</div>    
</div>  

<%end%>