<% @list.songs.each do |song|%>
<div class="panel panel-default">
<div class="row list-item">
	<br />
	<div class="col-md-3">
		<img src="<%= song.img_url %>" width=100%>   
	</div>
	<div class="col-md-9">
		<h3><strong><%= song.title %></strong>, <%= song.artist %></h3><hr>
		<p><%= song.description %></p>
		<% if @list.user_ids.include?(session[:user_id]) %>
			<%= button_to "Delete", songs_destroy_path(song), method: :delete %>
		<% end %>
	</div>    
</div>  
</div>
<%end%>