
<div class="container"> 
 <div class="row">
     <div class="col-md-3">
        <h2><%= @list.title %></h2>
        <img src="<%= @list.img_url %>" width=100%>
        <h3> <%= @list.description %></h3> 
    </div>


    <div class="col-md-9">

        <% if @list.list_type == "book" %>
        <%= render "book" %>
        <% elsif @list.list_type == "movie" %>
        <%= render "movie" %>
        <% elsif @list.list_type == "place" %>
        <%= render "place" %>
        <% elsif @list.list_type == "song" %>
        <%= render "song" %>
        <% elsif @list.list_type == "rando" %>
        <%= render "rando" %>
        
        <% end %>

        <div class="modal fade" id="myModalAddNewItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">What new item would you like to add?</h4>
            </div>
            <div class="modal-body">
                <div id="modalerror" class="alert alert-info hidden" role="alert"></div>
                <% if @list.list_type == "book" %>
                <%= render "addBook" %>
                <% elsif @list.list_type == "movie" %>
                <%= render "addMovie" %>
                <% elsif @list.list_type == "place" %>
                <%= render "addPlace" %>
                <% elsif @list.list_type == "rando" %>
                <%= render "addRando" %>
                <% elsif @list.list_type == "song" %>
                <%= render "addSong" %>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Item</button>
            </div>
        </div>
    </div>
</div>

<br /> 
<div class="btn-group" role="group" aria-label="...">
  <button type="button" id="addItem" class="btn btn-primary" data-toggle="modal" data-target="#myModalAddNewItem">Add New Item to Your List</button>

</div>


</div>
</div>