<div class="container"> 
   <div class="row">
       <div class="col-md-3">
            <h2><%= @user.username %></h2>
            <h3> <%= @user.first_name %> <%= @user.last_name %></h3>
            <img src="<%= @user.img_url %>" width=100%>
            <h3> <%= @user.bio %></h3> 
        </div>
        <div class="col-md-9">
            <h2>My List of Lists listed in a list:</h2>
            <div class="list">
                <br />
                <div class="col-md-3">
                    <img src="http://media.salon.com/2012/12/shutterstock_92369284.jpg" width=100%>   
                </div>
                <div class="col-md-9">
                <h3>My Favorite Movies</h3><hr>
                <p><strong>Description</strong></p>
                <p> These are a list of my movies that are listed in a list that I love the mostest! (smiley face) </p>
                </div>    
            </div>  
            
            
            <div class="list">
                <br />
                <div class="col-md-3">
                    <img src="http://media.salon.com/2012/12/shutterstock_92369284.jpg" width=100%>   
                </div>
                <div class="col-md-9">
                <h3>My Favorite Books</h3><hr>
                <p><strong>Description</strong></p>
                <p> These are a list of my movies that are listed in a list that I love the mostest! (smiley face) </p>
                </div>    
            </div>  
            
            <div class="list">
                <br />
                <div class="col-md-3">
                    <img src="http://media.salon.com/2012/12/shutterstock_92369284.jpg" width=100%>   
                </div>
                <div class="col-md-9">
                <h3>My Favorite Songs</h3><hr>
                <p><strong>Description</strong></p>
                <p> These are a list of my movies that are listed in a list that I love the mostest! (smiley face) </p>
                </div>    
            </div>  
            
            <div class="list">
                <br />
                <div class="col-md-3">
                    <img src="http://media.salon.com/2012/12/shutterstock_92369284.jpg" width=100%>   
                </div>
                <div class="col-md-9">
                <h3>My Favorite Places</h3><hr>
                <p><strong>Description</strong></p>
                <p> These are a list of my movies that are listed in a list that I love the mostest! (smiley face) </p>
                </div>    
            </div>  
            
        </div>
        
        
    </div>
</div>