<div class="container"> 
   <div class="col-md-offset-2 col-md-8">
        <% @users.each do |user| %>
        
        <div class="panel panel-default">
        <div class="row list-item">
            <br />
            <div class="col-md-3">
                <img src="<%= user.img_url %>" width=100%>   
            </div>
            <div class="col-md-9">
                <h2><a href="/users/<%=user.id%>"><%= user.username %></a></h2><hr>
                <h3> <%= user.first_name %> <%= user.last_name %></h3>
                <p class="lead"> <%= user.bio %></p>
            </div>    
        </div>  
        </div>
        <% end %>
    </div>
</div>