<div class="container"> 
   <div class="row">
       <div class="col-md-3 sidebar">
            <h2><%= @user.username %></h2>
            <h4> <%= @user.first_name %> <%= @user.last_name %></h4>
            <img class="sidebar-image" src="<%= @user.img_url %>" width=100%>
            <p class="lead"> <%= @user.bio %></p> 
            <!-- <button id="follower" type="submit" class="btn btn-primary">Follow</button> -->
            <%= button_to "Follow", followings_create_path, method: :post, params: {follower_id: session[:user_id], user_id: @user.id} %>
        </div>
        <div class="col-md-9">
            <h2>My List of Lists listed in a list:</h2>
            <% @user.lists.each do |list|%>
            <div class="panel panel-default">
            <div class="row">
            
                <br />
                <div class="col-md-3">
                    <img src="<%=list.img_url%>" width=100%>   
                </div>
                <div class="col-md-9">
                    <a href="/lists/<%=list.id%>"><h3><%=list.title%></h3><hr></a>
                    <p><%=list.description%></p>
                    <% if session[:user_id] == @user.id %>
                        <%= button_to "Delete", lists_destroy_path(list), method: :delete %>
                    <% end %>
                </div>    
            </div>  
            </div>
            
            <%end%>
            
        </div>
        
        
    </div>
</div>