<div class="container">
	<div class="col-6-md   ">
       <h2>Lists from the community</h2>
       <% @features.each do |list|%>
       <div class="panel panel-default">
          <div class="row">
            <div class="list">
                <div class="col-md-3">
                    <img src="<%=list.img_url%>" width=100%>   
                </div>
                <div class="col-md-9">
                    <a href="/lists/<%=list.id%>"><h3><%=list.title%></h3><hr></a>
                    <% if list.users.length > 0 %>
                    <h4>A list by <a href="/users/<%= list.users[0].id %>"><%= list.users[0].username %></a></h4>
                    <% end %>
                    <p class="lead"><%=list.description%></p>
                </div>    
            </div>  
        </div>

    </div>
    <% end %>
</div>





</div>