<%=form_for @book do |f|%>
	<div>
		<%=f.text_field :title, placeholder: "Book Title" %>
	</div>
	<div>
		<%=f.text_field :author, placeholder: "Author"%>
	</div>
	<div>
		<%=f.text_area :description, placeholder: "Description"%>
	</div>
	<div>
		<%=f.text_field :img_url, placeholder: "Book Photo URL"%>
	</div>
	<div>
		<%=f.hidden_field :list_id
	</div>
	<%= f.submit "Add Book to List" %>
<%end%>
