<!DOCTYPE html>
<html>
  <head>
    <title>ListOfLists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	<header>
  		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">List of Lists</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <% if session[:user_id] == nil %>
          <li><a href="/login">Sign In<span class="sr-only">(current)</span></a></li>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>
        <% if session[:user_id] != nil %>
          <li><%= link_to session[:username], users_show_path(session[:user_id]), method: :get %></li>
          <li><%= link_to "Logout", destroy_session_path, method: :delete %></li>
          <li><a href="#" data-toggle="modal" data-target="#myModal">New List</a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--     NEW LIST MODAL-->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">What kind of list would you like to create?</h4>
      </div>
      <div class="modal-body">

<!--          MODAL FORM-->
            <form id="new-list-form">
            <div class="form-group">
            <select class="form-control" name="list_type">
              <option>book</option>
              <option>movie</option>
              <option>place</option>
              <option>rando</option>
              <option>song</option>
            </select>
            </div>
            <div class="form-group">
           <input type="text" class="form-control" placeholder="Title" name="title">
           </div>
           <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
            </div>
             <div class="form-group">
            <input type="text" class="form-control" placeholder="Image URL" name="img_url">
            </div>
            <button id="new-list" type="submit" class="btn btn-primary">New List</button>
            </form>
<!--            END MODAL FORM-->
      </div>
    </div>
  </div>
</div>
<!--    END OF NEW LIST MODAL-->
     
  	</header>
    <%= yield %>
  </body>
</html>
